body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);   
}
.glass{
    background: rgba(255, 255, 255, 0.818);
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7), 
        rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: grid;
    justify-content: center;
    align-items: center; 
    height: 510px;
    width: 600px;
    margin-top: 9%;
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}
img{
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
    margin-left: 25%;
    box-shadow: rgba(0, 0, 0, 0.271) 0px 10px 20px, rgba(0, 0, 0, 0.31) 0px 6px 6px;
    
}
.links{
    display: grid;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}
.links>div{
    background-color: rgb(131, 153, 237);
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.68);
    width: 300px;
    height: 40px;
    border-radius: 10px;
    display: flex;
}
svg{
    height: 23px;
    margin-top: 8px;
    margin-left: 8px;
}
p{
    margin:10px;
}
.circulo1 {
    top: 7%;
    right: 27%;
}
.circulo2 {
    bottom: 5%;
    left: 25%;
}
.circulo1,
.circulo2{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.5));
    height: 15rem;
    width: 15rem; 
    border-radius: 50%;   
    position: absolute;   
}
.links>div:hover{
    background-color: #bebebe;
    cursor: pointer;
}
@media (max-width: 1024px){
    .circulo1 {
        top: 7%;
        right: 15%;
    }
    .circulo2 {
        bottom: 5%;
        left: 12%;
    }
}
@media (max-width: 768px){
    .circulo1 {
        top: 5%;
        right: 5%;
    }
    .circulo2 {
        bottom: 30%;
        left: 5%;
    }
}
@media (max-width: 736px){
    .circulo1 {
        display: none;
    }
    .circulo2 {
        display:none;
    }
}
